Web References/net.restfulwebservices.www/WeatherForecastService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.restfulwebservices.net/DataContracts/2008/01" elementFormDefault="qualified" targetNamespace="http://www.restfulwebservices.net/DataContracts/2008/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkyConditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DewPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelativeHumidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pressure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
</xs:schema>